:root {
  --black: #000000;
  --vdarkgray: #1d1a1c;
  --darkgray: #2c2c2e;
  --midgray: #5f5f66;
  --lightgray: #9f9fae;
  --cream: #f4eade;
  --creamblue: #e1def4;
  --green: #9cff9c;
  --yellow: #f7fca7;
  --blue: #a7d1ff;
  --red: #ffa2a2;
}

body {
  background-color: var(--darkgray);
  color:var(--cream);  
  font-family: Verdana, sans-serif;
}


p,h1 {
  font-size: 50px;
  margin-left: 30px;
  font-weight: 1000;
}

p {
  padding-top: 10px;
  font-size: 20px;
  border-top: 8px solid var(--vdarkgray);
  font-weight: 100;
}

* {
  user-select: none;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

table{
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#filter-info, #remove-filters, #next-mode {
    margin-left: 50px;
    margin-top:10px;
    font-weight: 1000;
}

#game-list td {
  width: 130px;
  text-align: center;
}

.player-link {
    font-weight: 1000;
}

.efficiency-text {
    color: var(--creamblue);
    font-weight: 200;
}
